@import url(https://fonts.googleapis.com/css?family=Bad+Script);

p {
  font-size: 20px;
}

ul {
  list-style: none;
}

p,ul,h1 {
   color: white !important;
   font-family: 'Bad Script', cursive !important;
}

.char-info {
  margin-top: 50px;
}

#gallery-name {
  margin-top:30px;
  font-size: 20px;
}

img {
  border-radius: 50%;
}

body {
  background-color: grey !important;
}

#Story, #Characters, #Media, #logo, #Music:hover {
  cursor: pointer;
}

.animate-enter,
.animate-leave
{
    -webkit-transition: 325ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 325ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 325ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 325ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 325ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

.animate-enter.animate-enter-active,
.animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}

.ng-scope {
  text-align: center;
  margin: 30px;
}

#page-view {
  background-color: #4a4a4a;
  border-radius: 80px;
  border-style: double;
  border-width: 15px;
}

#story {
  padding: 50px;
}

.col-md-3 {
  margin-left: 70px;
}

.st3:hover {
  fill: yellow;
}
a {
  text-decoration: none !important;
}
